:root {
  --red: #ff0000be;
  --white: #ffffff;
  --black: #000000;
  --bg: var(--white);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--white);
}

.light-theme {
  --bg: var(--white);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--white);
}

.dark-theme {
  --bg: var(--black);
  --fontColor: var(--white);
  --btnBg: var(--white);
  --btnFontColor: var(--black);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--fontColor);
  font-family: helvetica, sans-serif;
}

body {
  background-color: var(--bg);
  min-height: 100vh;
  text-align: center;
  padding-top: 70px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

table {
  margin: 30px auto;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid var(--fontColor);
  padding: 10px;
}

caption {
  margin-bottom: 10px;
  font-weight: bold;
}

a {
  display: block;
  margin-top: 20px;
  color: var(--fontColor);
  text-decoration: none;
}

.btn {
  position: fixed;
  top: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
  cursor: pointer;
  z-index: 999;
}

.btn:focus {
  outline: none;
}

/* SLIDER */

.slide-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 30px;
}

.image-container {
  display: flex;
  width: 200%; /* 2 imagens = 200% */
  animation: slideAnimation 8s infinite ease-in-out;
}

.slider-image {
  width: 100vw;
  height: 400px;
  object-fit: cover;
}

.button-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.slider-button {
  height: 15px;
  width: 15px;
  background-color: #888;
  border-radius: 50%;
  display: inline-block;
}

@keyframes slideAnimation {
  0% { transform: translateX(0); }
  50% { transform: translateX(-100vw); }
  100% { transform: translateX(0); }
}